<h1> Enter a Comment </h1>

<div class="container">
  <%= form_for [ @job, @comment ] do |f| %>
  <p class="label"><%= f.label :content, "Your Comment" %></p>
  <%= f.text_area :content %>

  <p class="submit"><p><%= f.submit %></p>
<% end %>
</div>
